<div class="flex flex-col items-center m-4">
  <div class="mb-4">
    <img src="<%= @gift.image_url %>" alt="<%= @gift.title %>">
  </div>
  <div class="flex justify-end w-full">
    <%= button_to original_gift_path(@gift), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "text-gray-500" do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  </div>
  <div class="mb-4">
    <p>TO: <%= @gift.recipient %></p>
    <p>有効期限: <%= @gift.expiration_date %></p>
  </div>
  <button id="send_gift_button" data-share-url="<%= @gift.image_url %>" class="bg-orange-300 text-white rounded px-2 py-2 mt-2 items-center">友だちに贈る</button>
</div>
